.popup__field {
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
  outline: none;
}

.popup__field:last-child {
  margin-top: 30px;
  margin-bottom: 48px;
}

.popup__field::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media screen and (max-width: 614px) {
  .popup__field {
    max-width: 238px;
  }
}
